<div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a routerLink="/" routerLinkActive="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>
                    <li>
                        <a routerLink="/timeentry" routerLinkActive="active"><i class="fa fa-edit fa-fw"></i> Time Entry</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-files-o fa-fw"></i> Reports<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a routerLink="/report/time" routerLinkActive="active">Time Repors</a>
                            </li>
                            <li>
                                <a routerLink="/report/audit" routerLinkActive="active">Audit Reports</a>
                            </li>
                            <li>
                                <a routerLink="/report/exception" routerLinkActive="active">Exceltion Reports</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a href="javascript:void(0)"><i class="fa fa-gears fa-fw"></i> Settings<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a routerLink="/setting/role" routerLinkActive="active">Role</a>
                            </li>
                            <li>
                                <a routerLink="/setting/activity" routerLinkActive="active">Activity</a>
                            </li>
                            <li>
                                <a routerLink="/setting/roleactivity" routerLinkActive="active">Role Activity</a>
                            </li>
                            <li>
                                <a routerLink="/setting/timezone" routerLinkActive="active">TimeZone</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a routerLink="/users" routerLinkActive="active"><i class="fa fa-users fa-fw"></i>Users</a>
                    </li>
                    <li>
                        <a routerLink="/profile" routerLinkActive="active"><i class="fa fa-user fa-fw"></i>User Profile</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>