<div id="wrapper" [hidden]="!displayHeader">
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <app-header></app-header>
    <app-leftpanel></app-leftpanel>
  </nav>
  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="page-header">{{routeName}}</h3>
      </div>
      <router-outlet></router-outlet>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /#page-wrapper -->
</div>
<router-outlet [hidden]="displayHeader"></router-outlet>