<div class="panel panel-default">
  <div class="panel-body">
    <form role="form" class="form-inline">
      <div class="form-group">
        <label for="Name" class="col-sm-3 control-label">Name</label>
        <div class="col-sm-9">
          <input class="form-control " placeholder="Role Name" name="name" type="text" #rolename/>
        </div>
      </div>
      <div class="form-group">
        <label for="Status" class="col-sm-4 control-label">Status</label>
        <div class="col-sm-8">
          <select class="form-control" id="status" #status>
              <option value="true" selected="selected">Active</option>
              <option value="false">Inactive</option>
        </select>
        </div>
      </div>
      <button class="btn btn-primary" type="button" id="btnGo" (click)="onSearchClick(rolename,status)">GO</button>
    </form>
  </div>
  <div [ngBusy]="busy"></div>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="table-responsive col-xs-12">
      <datatable [dataset]=roles [sortkey]=sortKey [sortdirection]=sortDirection (onSorting)="OnRoleSorting($event)">
        <column [value]="'RoleId'" [header]="'Id'" [ishidden]="'true'"></column>
        <column [value]="'RoleName'" [header]="'Name'" [width]="'350px'"></column>
        <column [value]="'ModifiedBy'" [header]="'Modified By'"></column>
        <column [value]="'ModifiedDate'" [header]="'Modified Date'" [datatype]="'date'"></column>
        <column [value]="'IsActive'" [header]="'Status'" [columnType]="'checkbox'" [width]="'80px'" [allowsort]="'false'"></column>
        <column [value]="'RoleId'" [header]="'Edit'" [columnType]="'actionlink'" [contentClass]="'fa fa-edit fa-fw'" [width]="'50px'"
          (actionClick)="onEditClick($event)" [allowsort]="'false'"></column>
        <column [value]="'RoleId'" [header]="'Delete'" [columnType]="'actionlink'" [contentClass]="'fa fa-trash-o fa-fw'" [width]="'50px'"
          (actionClick)="onDeleteClick($event)" [allowsort]="'false'"></column>
      </datatable>
      <dailystatus-pagination [currentpagenumber]="currentPage" [totalrecords]="totalRecords" (onPaging)="onGridPaging($event)"></dailystatus-pagination>
    </div>
  </div>
  
  <!--<dialog #confirmation [message]="'Are you sure, you want to delete Selected Role?'" [title]="'Delete Role?'"></dialog>-->
  <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Delete Role?</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete selected role ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"  (click)="OnDeleteConfirmationClick(deleteRoleId)">Yes</button>
          <button type="button" class="btn btn-primary"  (click)="childModal.hide()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>